.colection-case
  background: url('../img/case-bg.png') no-repeat right center
  .section-title
    margin-bottom: 165px
  &__btn-wrap
    margin-top: 30px
    text-align: center

+media-breakpoint-down(xl)
  .colection-case
    .section-title
      margin-bottom: 100px

+media-breakpoint-down(sm)
  .colection-case
    .section-title
      margin-bottom: 70px