.filters
  p
    font-size: 12px
  &__title
    margin-bottom: 20px
    padding-top: 20px
    font-size: 16px
    font-weight: 400
  &__item
    padding: 0 0 20px 0
    border-bottom: 1px solid rgba(#fff, 0.05)
    &:last-of-type
      border: 0
      margin-bottom: 15px
    &--price
      .form-group
        display: flex
        align-items: center
        font-size: 16px
        .form__field
          width: 90px
          text-align: right
          &:last-child
            margin-right: 15px
        span
          padding: 0 15px
    &--sticker
  &__find
    display: block
    font-size: 24px
    margin-bottom: 40px
  &__btn
    width: 100%