.statistic
  display: flex
  &__item
    padding: 0 50px
    text-align: center
    border-width: 1px 1px 1px 0
    border-style: solid
    border-image: linear-gradient(rgba(#fff, 0), rgba(#fff, 0.25), rgba(#fff, 0)) 1 100%;
    &:last-child
      border: 0
    b
      font-size: 48px
      font-weight: 700
      color: $golden-dream
      text-shadow: 5px 0 30px rgba($golden-dream, 0.5)
    p
      font-weight: 300