.user-info
  display: flex
  &__left
    text-align: right
    margin-right: 10px
  &__nickname
    margin: 0
    font-size: 14px
    font-weight: 700
    text-transform: uppercase
  &__balance
    margin: 0
    font-size: 20px
  &__right
    +size(50px)
    border-radius: 50%
    background-color: #fff
    overflow: hidden
