<section class="game">
  <div class="container">

    <div class="inventory">

      <div class="inventory__left">
        <h2 class="inventory__title">Ваш инвентарь</h2>

        <div class="inventory__list-wrap">

          <div class="inventory__list">
            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--yellow">
              <div class="inventory__img-wrap shadow shadow--yellow">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--pink">
              <div class="inventory__img-wrap shadow shadow--pink">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--pink">
              <div class="inventory__img-wrap shadow shadow--pink">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--pink">
              <div class="inventory__img-wrap shadow shadow--pink">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

          </div>
          <!-- /.inventory__list -->
        </div>
      </div>

      <div class="inventory__right">
        <h2 class="inventory__title inventory__title--blue">Выбрано</h2>
        <div class="inventory__choice-wrap">
          <div class="inventory__choice-list">

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast2</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast1</b>
              </div>
            </a>

          </div>
          <!-- /.inventory__choice-list -->

          <a href="#" class="btn btn--blue inventory__choice-btn">Добавить в игру</a>

        </div>
      </div>

    </div>
    <!-- /.inventory -->

    <div class="row">

      <div class="col-lg-8 col-xl-9">
        <div class="draw">
          <div class="draw__left">
            <b>Розыгрыш!</b>
            <p>Пополни баланс и выиграй!</p>
          </div>
          <div class="draw__btns">
            <a href="#" class="btn">Пополнить $ 10</a>
            <a href="#" class="btn btn--blue">Пополнить $ 50</a>
            <a href="#" class="btn btn--green">Пополнить $ 100</a>
          </div>
        </div>
        <!-- /.draw -->

        <div class="game-roulette">
          <div class="game-roulette__container">
            <div class="game-roulette__inner">
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-100x100.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-100x100.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-2-100x100.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-100x100.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-100x100.jpg" width="100" height="100" alt="">
              </div>
            </div>
            <!-- /.case-roulette__weapon-inner -->
          </div>
          <!-- /.case-roulette__weapon-container -->

          <svg class="game-roulette__arrow">
            <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
          </svg>
        </div>
        <!-- /.case-roulette__weapon -->

        <div class="game-statistic row">
          <div class="col-sm-6 col-md-4 game-statistic__info">
            <p class="game-statistic__name">Победитель: <b>Bruno</b></p>
            <p class="game-statistic__ticket">Выигрышний билет: <b>#532</b></p>
            <div class="game-statistic__current-win">
              <span>Текущий выигрыш:</span>
              <p>$ 50.00</p>
            </div>
          </div>

          <div class="col-md-4 game-statistic__winner">
            <div class="game-statistic__winner-pic">
              <img src="img/content/user-170x170.jpg" width="130" height="130" alt="">
            </div>
            <p>#451 - #600</p>
          </div>

          <div class="col-sm-6 col-md-4 game-statistic__time">
            <p>Новая игра через</p>
            <b>21:85</b>
            <a href="#" class="btn">Сделать ставку</a>
          </div>
        </div>
        <!-- /.game-statistic -->

        <div class="game-chance">
          <p>Шансы</p>
          <div class="game-chance__item game-chance__item--blue">
            <img src="img/content/user-3-100x100.jpg" alt="">
            <div class="game-chance__info">5%</div>
          </div>
          <div class="game-chance__item game-chance__item--green">
            <img src="img/content/user-2-100x100.jpg" alt="">
            <div class="game-chance__info">5%</div>
          </div>
          <div class="game-chance__item game-chance__item--dark-blue">
            <img src="img/content/user-100x100.jpg" alt="">
            <div class="game-chance__info">40%</div>
          </div>
          <div class="game-chance__item game-chance__item--pink">
            <img src="img/content/user-170x170.jpg" alt="">
            <div class="game-chance__info">50%</div>
          </div>
        </div>
        <!-- /.game-chance -->

        <div class="game__status game__status--end">
          Игра завершена!
        </div>

        <div class="game-trade">
          <div class="game-trade__item">
            <div class="game-trade__user">
              <a href="#">
                <img src="img/content/user-170x170.jpg" width="60" height="60" alt="">
                <b>Bruno</b>
              </a>
            </div>
            <div class="game-trade__img">
              <img src="img/content/weapon/kalash.png" height="40" alt="">
            </div>
            <div class="game-trade__text">
              <p>Вложил: $ 11.25</p>
              <p>Билеты от #751 до #900</p>
            </div>
          </div>
          <div class="game-trade__item">
            <div class="game-trade__user">
              <a href="#">
                <img src="img/content/user-170x170.jpg" width="60" height="60" alt="">
                <b>Bruno</b>
              </a>
            </div>
            <div class="game-trade__img">
              <img src="img/content/weapon/kalash.png" height="40" alt="">
            </div>
            <div class="game-trade__text">
              <p>Вложил: $ 11.25</p>
              <p>Билеты от #751 до #900</p>
            </div>
          </div>
          <div class="game-trade__item">
            <div class="game-trade__user">
              <a href="#">
                <img src="img/content/user-170x170.jpg" width="60" height="60" alt="">
                <b>Bruno</b>
              </a>
            </div>
            <div class="game-trade__img">
              <img src="img/content/weapon/usp.png" height="40" alt="">
            </div>
            <div class="game-trade__text">
              <p>Вложил: $ 11.25</p>
              <p>Билеты от #751 до #900</p>
            </div>
          </div>
          <div class="game-trade__item">
            <div class="game-trade__user">
              <a href="#">
                <img src="img/content/user-100x100.jpg" width="60" height="60" alt="">
                <b>Mia</b>
              </a>
            </div>
            <div class="game-trade__text">
              <p>Вложил: $ 11.25</p>
              <p>Билеты от #751 до #900</p>
            </div>
          </div>
          <div class="game-trade__item">
            <div class="game-trade__user">
              <a href="#">
                <img src="img/content/user-2-100x100.jpg" width="60" height="60" alt="">
                <b>Gaben</b>
              </a>
            </div>
            <div class="game-trade__img">
              <img src="img/content/weapon/kalash.png" height="40" alt="">
            </div>
            <div class="game-trade__text">
              <p>Вложил: $ 11.25</p>
              <p>Билеты от #1 до #150</p>
            </div>
          </div>
        </div>
        <!-- /.game-trade -->

      </div>

      <div class="col-lg-4 col-xl-3">
        <aside class="widgetbar">
          <div class="widget widget--last-win">
            <div class="widget__top">
              <p>Последний победитель</p>
              <b>Bruno</b>
            </div>
            <div class="widget__user">
              <a href="#"><img src="img/content/user-170x170.jpg" width="170" height="170" alt=""></a>
            </div>
            <div class="widget__bottom">
              <div class="widget__bottom-row">
                <span>Выигрыш:</span>
                <b>$ 50.00</b>
              </div>
              <div class="widget__bottom-row">
                <span>Шанс:</span>
                <b>50%</b>
              </div>
            </div>
          </div>

          <div class="widget widget--lucky-day">
            <div class="widget__top">
              <p>Счастливчик дня</p>
              <b>Gaben</b>
            </div>
            <div class="widget__user">
              <a href="#"><img src="img/content/user-2-100x100.jpg" width="170" height="170" alt=""></a>
            </div>
            <div class="widget__bottom">
              <div class="widget__bottom-row">
                <span>Выигрыш:</span>
                <b>$ 1000.00</b>
              </div>
              <div class="widget__bottom-row">
                <span>Шанс:</span>
                <b>2%</b>
              </div>
            </div>
          </div>

          <div class="widget widget--big-bet">
            <div class="widget__top">
              <p>Наибольшая ставка</p>
              <b>Mia</b>
            </div>
            <div class="widget__user">
              <a href="#"><img src="img/content/user-100x100.jpg" width="170" height="170" alt=""></a>
            </div>
            <div class="widget__bottom">
              <div class="widget__bottom-row">
                <span>Ставка:</span>
                <b>$ 750.00</b>
              </div>
            </div>
          </div>
        </aside>
      </div>

    </div>

  </div>
  <!-- /.container -->

  <div class="game-menu active">
    <button class="game-menu__toggle">close</button>

    <div class="game-menu__list">
      <div class="game-menu__group game-menu__group--pvp">
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-casino-chip"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-royal"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-casino-chip"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
      </div>

      <div class="game-menu__group game-menu__group--pve">
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-casino-chip"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-royal"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-casino-chip"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-royal"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
      </div>

      <div class="game-menu__group game-menu__group--solo-pve">
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-casino-chip"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-royal"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-casino-chip"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-royal"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
        <a href="#" class="game-menu__item">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-royal"></use>
          </svg>
          <span class="game-menu__body">
            <span class="game-menu__title">Double</span>
            <span class="game-menu__status">
              <span class="game-menu__status-title">На кону</span>
              <span class="game-menu__status-value">$ 50.00</span>
            </span>
          </span>
        </a>
      </div>
    </div>

  </div>

</section>
<!-- /.game -->