<section class="game">
  <div class="container">

    <div class="inventory">

      <div class="inventory__left">
        <h2 class="inventory__title">Ваш инвентарь</h2>

        <div class="inventory__list-wrap">

          <div class="inventory__list">
            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--yellow">
              <div class="inventory__img-wrap shadow shadow--yellow">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--pink">
              <div class="inventory__img-wrap shadow shadow--pink">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--pink">
              <div class="inventory__img-wrap shadow shadow--pink">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--pink">
              <div class="inventory__img-wrap shadow shadow--pink">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

          </div>
          <!-- /.inventory__list -->
        </div>
      </div>

      <div class="inventory__right">
        <h2 class="inventory__title inventory__title--blue">Выбрано</h2>
        <div class="inventory__choice-wrap">
          <div class="inventory__choice-list">

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast2</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast1</b>
              </div>
            </a>

          </div>
          <!-- /.inventory__choice-list -->

          <a href="#" class="btn btn--blue inventory__choice-btn">Добавить к обмену</a>

        </div>
      </div>

    </div>
    <!-- /.inventory -->

    <div class="row">

      <div class="col-lg-9">
        <div class="draw">
          <div class="draw__left">
            <b>Розыгрыш!</b>
            <p>Пополни баланс и выиграй!</p>
          </div>
          <div class="draw__btns">
            <a href="#" class="btn">Пополнить $ 10</a>
            <a href="#" class="btn btn--blue">Пополнить $ 50</a>
            <a href="#" class="btn btn--green">Пополнить $ 100</a>
          </div>
        </div>
        <!-- /.draw -->

        <div class="game-roulette">
          <div class="game-roulette__container">
            <div class="game-roulette__inner">
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-100x100.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-100x100.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-2-100x100.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-100x100.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-170x170.jpg" width="100" height="100" alt="">
              </div>
              <div class="game-roulette__item">
                <img src="img/content/user-100x100.jpg" width="100" height="100" alt="">
              </div>
            </div>
            <!-- /.case-roulette__weapon-inner -->
          </div>
          <!-- /.case-roulette__weapon-container -->

          <svg class="game-roulette__arrow">
            <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
          </svg>
        </div>
        <!-- /.case-roulette__weapon -->

      </div>

      <div class="col-lg-3"></div>

    </div>

  </div>
  <!-- /.container -->
</section>
<!-- /.game -->