<section class="advantages">
  <div class="container">
    <h2 class="section-title" data-title="Advantages">Преимущества</h2>

    <div class="advantages__list row justify-content-center">

      <div class="col-md-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <div class="advantages__icon-wrap">
            <img src="img/icon/icon-dices.svg" width="60" height="80" alt="">
          </div>
          <h3>Выгодный</h3>
          <p>У нас шанс получить любимый скин гораздо выше, а непонравившийся предмет можно продать прямо на сайте</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <div class="advantages__icon-wrap">
            <img src="img/icon/icon-key.svg" width="80" height="80" alt="">
          </div>
          <h3>Уникальный</h3>
          <p>Мы постоянно работаем над функционалом сайта, чтобы максимально соответствовать требованиям наших пользователей</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <div class="advantages__icon-wrap">
            <img src="img/icon/icon-paper-plane.svg" width="80" height="80" alt="">
          </div>
          <h3>Быстрый</h3>
          <p>Мы гарантируем моментальную доставку выигранных предметов, при условии стабильной работы Steam</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <div class="advantages__icon-wrap">
            <img src="img/icon/icon-favorites.svg" width="80" height="80" alt="">
          </div>
          <h3>Безупречная репутация</h3>
          <p>Вся статистика перед вами, комментарии о нас можно найти в группе ВК</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <div class="advantages__icon-wrap">
            <img src="img/icon/icon-secure-shield.svg" width="70" height="80" alt="">
          </div>
          <h3>Безопасный</h3>
          <p>Мы используем защищенное соединение и имеем сертификаты безопасности</p>
        </div>
      </div>

    </div>
    <!-- /.advantages__list row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.advantages -->