<section class="colection-case">
  <div class="container">
    <h2 class="section-title" data-title="Cases">Коллекция кейсов</h2>

    <div class="case row">

      <div class="col-md-6 col-lg-4 case__item">
        <a href="#" class="case__inner">
          <div class="case__img-wrap">
            <img src="img/content/case.png" width="190" height="140" alt="">
          </div>
          <h3>Оружейный кейс</h3>
          <p class="case__price"><span>199</span> Руб.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 case__item">
        <a href="#" class="case__inner">
          <div class="case__img-wrap">
            <img src="img/content/case.png" width="190" height="140" alt="">
          </div>
          <h3>Оружейный кейс</h3>
          <p class="case__price"><span>199</span> Руб.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 case__item">
        <a href="#" class="case__inner">
          <div class="case__img-wrap">
            <img src="img/content/case.png" width="190" height="140" alt="">
          </div>
          <h3>Оружейный кейс</h3>
          <p class="case__price"><span>199</span> Руб.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 case__item">
        <a href="#" class="case__inner">
          <div class="case__img-wrap">
            <img src="img/content/case.png" width="190" height="140" alt="">
          </div>
          <h3>Оружейный кейс</h3>
          <p class="case__price"><span>199</span> Руб.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 case__item">
        <a href="#" class="case__inner">
          <div class="case__img-wrap">
            <img src="img/content/case.png" width="190" height="140" alt="">
          </div>
          <h3>Оружейный кейс</h3>
          <p class="case__price"><span>199</span> Руб.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 case__item">
        <a href="#" class="case__inner">
          <div class="case__img-wrap">
            <img src="img/content/case.png" width="190" height="140" alt="">
          </div>
          <h3>Оружейный кейс</h3>
          <p class="case__price"><span>199</span> Руб.</p>
        </a>
      </div>

    </div>
    <!-- /.case row -->

    <div class="colection-case__btn-wrap">
      <a href="#" class="btn colection-case__btn">Перейти ко всем кейсам</a>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.colection-case -->