<div class="drophistory">
  <div class="drophistory__wrap">
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item drophistory__item--red">
      <img src="img/content/weapon/kerambit.png" alt="">
    </a>
    <a href="#" class="drophistory__item drophistory__item--yellow">
      <img src="img/content/weapon/usp.png" alt="">
    </a>
    <a href="#" class="drophistory__item drophistory__item--purple">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
    <a href="#" class="drophistory__item">
      <img src="img/content/weapon/m4a1.png" alt="">
    </a>
  </div>
</div>

<div class="drophistory-hover hidden">
  <div class="drophistory-hover__top">
    <span>M4A1-S</span>
    <b>Hyper Beast</b>
  </div>
  <div class="drophistory-hover__username">Bruno</div>
</div>