<footer class="footer">
  <div class="container">
    <div class="footer__wrap">

      <div class="footer__left">
        <a href="./" class="footer__title">YourDrop – магазин кейсов CSGO</a>
        <p class="footer__desc">На нашем сайте вы можете открыть различные кейсы CS:GO по выгодным ценам.</p>
      </div>

      <div class="footer__right">
        <ul class="payment">
          <li class="payment__item">
            <svg class="icon payment__icon">
              <use xlink:href="img/icon/symbols.svg#icon-visa"></use>
            </svg>
          </li>
          <li class="payment__item">
            <svg class="icon payment__icon">
              <use xlink:href="img/icon/symbols.svg#icon-qiwi"></use>
            </svg>
          </li>
          <li class="payment__item">
            <svg class="icon payment__icon payment__icon--webmoney">
              <use xlink:href="img/icon/symbols.svg#icon-webmoney"></use>
            </svg>
          </li>
        </ul>
      </div>

    </div>
    <!-- ./footer__wrap -->

    <div class="footer__bottom">
      <p class="copyright">&copy; 2018 - Copyright | All rights reserved</p>
    </div>

  </div>
  <!-- /.container -->
</footer>
<!-- /.footer -->

  <div class="inventory-modal" id="inventory-out">
    <div class="inventory-modal__top">
      <h3 class="inventory-modal__title">Инвентарь на вывод</h3>
      <div class="inventory-modal__btns">
        <button class="inventory-modal__btn inventory-modal__btn--update">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-update"></use>
          </svg>
        </button>
        <button class="inventory-modal__btn inventory-modal__btn--send">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="inventory-modal__wrap">
      <div class="inventory-modal__list">

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

      </div>
    </div>
  </div>

  <div class="inventory-modal" id="inventory-in">
    <div class="inventory-modal__top">
      <h3 class="inventory-modal__title">Инвентарь на ввод</h3>
      <div class="inventory-modal__btns">
        <button class="inventory-modal__btn inventory-modal__btn--update">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-update"></use>
          </svg>
        </button>
        <button class="inventory-modal__btn inventory-modal__btn--send">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="inventory-modal__wrap">
      <div class="inventory-modal__list">

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

      </div>
    </div>
  </div>

  <div class="inventory-modal" id="item-sale">
    <div class="inventory-modal__top">
      <h3 class="inventory-modal__title">Выберите предмет для продажи:</h3>
    </div>
    <div class="inventory-modal__wrap">
      <div class="inventory-modal__list">

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--yellow">
          <div class="inventory-modal__img-wrap shadow shadow--yellow">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--red">
          <div class="inventory-modal__img-wrap shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

        <div class="inventory-modal__item inventory-modal__item--pink">
          <div class="inventory-modal__img-wrap shadow shadow--pink">
            <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>

      </div>
    </div>
  </div>

  <div class="inventory-modal inventory-modal--small" id="set-price">
      <div class="inventory-modal__top">
        <h3 class="inventory-modal__title">Установление цены продажи</h3>
        <button class="set-price_close inventory-modal__close">
          <svg>
            <use xlink:href="img/icon/symbols.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <form class="inventory-modal__meta">
        <h2>Hyper Beast <span>M4A1-S</span></h2>
        <div class="inventory-modal__meta-row">
          <div class="inventory-modal__meta-img shadow shadow--red">
            <img src="img/content/weapon/m4a1.png" alt="">
          </div>
          <div class="inventory-modal__meta-right">
            <p class="inventory-modal__meta-item">
              <span class="inventory-modal__meta-label">Качество:</span>
              <span class="inventory-modal__meta-status">немного поношенное</span>
            </p>
            <p class="inventory-modal__meta-price">
              <span class="inventory-modal__meta-price-label">Цена:</span>
              <input class="inventory-modal__meta-price-price" value="13 000">
              <span class="inventory-modal__meta-price-currency">Руб.</span>
            </p>
            <p class="inventory-modal__meta-item">
              <span class="inventory-modal__meta-label">С учётом комиссии <br>вы получите:</span>
              <span class="inventory-modal__meta-price-val">12 950</span>
              <span class="inventory-modal__meta-price-currency">Руб.</span>
            </p>
          </div>
        </div>

        <div class="inventory-modal__comment">
          <input type="text" name="comment" placeholder="Оставить комментарий">
        </div>

        <div class="inventory-modal__btn-row">
          <button type="submit" class="btn btn--green">Выставить</button>
        </div>

        <div class="inventory-modal__meta-bottom">
          <p class="inventory-modal__meta-item">
            <span class="inventory-modal__meta-label">Рекомендуемая цена продажи:</span>
            <span class="inventory-modal__meta-price-val">16 000</span>
            <span class="inventory-modal__meta-price-currency">Руб.</span>
          </p>

          <p class="inventory-modal__meta-item">
            <span class="inventory-modal__meta-label">Цена для моментальной продажи:</span>
            <span class="inventory-modal__meta-price-val">9 000</span>
            <span class="inventory-modal__meta-price-currency">Руб.</span>
          </p>
        </div>

      </form>
    </div>


  <div class="inventory-modal inventory-modal--2-col" id="items-sale-balance">
    <div class="inventory-modal__row">
      <div class="inventory-modal__left">
        <div class="inventory-modal__top">
            <h3 class="inventory-modal__title">Вещи доступные на продажу за живой баланс:</h3>
          </div>
          <div class="inventory-modal__wrap">
            <div class="inventory-modal__list">
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--yellow">
                <div class="inventory-modal__img-wrap shadow shadow--yellow">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--pink">
                <div class="inventory-modal__img-wrap shadow shadow--pink">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--yellow">
                <div class="inventory-modal__img-wrap shadow shadow--yellow">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--pink">
                <div class="inventory-modal__img-wrap shadow shadow--pink">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--yellow">
                <div class="inventory-modal__img-wrap shadow shadow--yellow">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--pink">
                <div class="inventory-modal__img-wrap shadow shadow--pink">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--yellow">
                <div class="inventory-modal__img-wrap shadow shadow--yellow">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--pink">
                <div class="inventory-modal__img-wrap shadow shadow--pink">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
            </div>
          </div>
      </div>

      <div class="inventory-modal__right">
        <div class="inventory-modal__info-top">
          <p class="inventory-modal__balance-row">Живой баланс: <span class="inventory-modal__balance">132 306 <span class="inventory-modal__balance-currency">Руб.</span></span></p>
          <a href="#" class="btn btn--small-blue">Вывести</a>
        </div>
        <div class="inventory-modal__info">
          <h4>Обменять на <span>DropCoins</span></h4>
          <form action="" class="form">
            <div class="form-row">
              <div class="form-group">
                <input type="text" name="rub" id="change_rub" class="form__field">
                <label for="change_rub" class="form__label">Руб.</label>
              </div>
              <svg>
                <use xlink:href="img/icon/symbols.svg#icon-arrow-next"></use>
              </svg>
              <div class="form-group">
                <input type="text" name="dropcoin" id="change_dropcoin" class="form__field">
                <label for="change_dropcoin" class="form__label">Dropcoins</label>
              </div>
            </div>
            <div class="form-group form-group--btn">
              <button type="submit" class="btn btn--green">Обменять</button>
            </div>
          </form>
        </div>
        <div class="inventory-modal__info-bottom">
          <p>Скины выбраны на сумму:</p>
          <span class="inventory-modal__balance">92 320 <span class="inventory-modal__balance-currency">Руб.</span></span>
          <a href="#" class="btn">Перевести в живой баланс</a>
        </div>
      </div>
    </div>
  </div>


  <div class="inventory-modal inventory-modal--2-col" id="items-sale">
    <div class="inventory-modal__row">
      <div class="inventory-modal__left">
        <div class="inventory-modal__top">
            <h3 class="inventory-modal__title">Ваши предметы на продаже:</h3>
          </div>
          <div class="inventory-modal__wrap">
            <div class="inventory-modal__list">
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--yellow">
                <div class="inventory-modal__img-wrap shadow shadow--yellow">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--pink">
                <div class="inventory-modal__img-wrap shadow shadow--pink">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                  <a href="#" class="inventory-modal__withdraw">снять с продажи</a>
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--yellow">
                <div class="inventory-modal__img-wrap shadow shadow--yellow">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--pink">
                <div class="inventory-modal__img-wrap shadow shadow--pink">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--yellow">
                <div class="inventory-modal__img-wrap shadow shadow--yellow">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--pink">
                <div class="inventory-modal__img-wrap shadow shadow--pink">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--yellow">
                <div class="inventory-modal__img-wrap shadow shadow--yellow">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--red">
                <div class="inventory-modal__img-wrap shadow shadow--red">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
              <div class="inventory-modal__item inventory-modal__item--pink">
                <div class="inventory-modal__img-wrap shadow shadow--pink">
                  <img src="img/content/weapon/m4a1.png" width="90" height="40" alt="">
                </div>
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
      
            </div>
          </div>
      </div>

      <div class="inventory-modal__right">
        <div class="inventory-modal__info-top">
          <a href="#" class="btn btn--small-blue">Очистить весь список</a>
        </div>

        <form class="drop clearfix">
          <div class="drop__box">
            <svg>
              <use xlink:href="img/icon/symbols.svg#icon-drag"></use>
            </svg>
            <p>Переместите сюда свой предмет <br><span>при нажатии на кнопку</span></p>
            <button type="button" class="btn btn--green item-sale_open">Добавить</button>
          </div>
          <button type="submit" class="drop__send">
            Отправить
            <svg>
              <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
            </svg>
          </button>
          
        </form>

      </div>
    </div>
  </div>

    <div id="callback" class="modal">
      <button class="callback_close modal__close">
        Close
        <span class="modal__close-line"></span>
      </button>
      <h3>Обратный звонок</h3>
      <p>Заполните форму и наш менеджер свяжется с вами в течение 5 минут</p>

      <form action="sendmail.php" class="row form callback-form" method="post">

        <input type="hidden" name="subject" value="Обратный звонок">

        <div class="col-sm-12 form-group">
          <input type="text" class="form__field" name="name" placeholder="Ваше имя" required>
        </div>

        <div class="col-sm-12 form-group">
          <input type="tel" name="phone" class="form__field" required placeholder="+7 (___) ___-__-__" pattern="\+7\s\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2}">
        </div>

        <div class="col-sm-12 form-group">
          <input type="submit" class="btn form__btn" name="submit" value="Заказать звонок">
        </div>

      </form>
    </div>

    <div id="thanks" class="modal">
      <button class="thanks_close modal__close">
        Close
        <span class="modal__close-line"></span>
      </button>
      <h3>Спасибо за заказ</h3>
      <p>Скоро мы Вам перезвоним!</p>
    </div>

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/script.js"></script>
    <script src="js/common.min.js"></script>

  </body>
</html>