<header class="header">
  <div class="container">

    <div class="header__wrap">

      <button class="nav-toggle">
        <svg>
          <use xlink:href="img/icon/symbols.svg#icon-list"></use>
        </svg>
      </button>

      <nav class="nav header__nav">
        <button class="nav__close"></button>

        <ul class="nav-list">
          <li class="active"><a href="#">Рулетка</a></li>
          <li><a href="#">Торговая площадка</a></li>
          <li><a href="cases.html">Кейсы</a></li>
        </ul>

        <ul class="user-menu nav__user-menu">
          <li>
            <a href="#">Live-Обмены</a>
          </li>
          <li>
            <div class="user-info">
              <div class="user-info__left">
                <a href="#" class="user-info__nickname">Bruno</a>
                <p class="user-info__balance">$ 40.00</p>
              </div>
              <div class="user-info__right">
                <a href="#">
                  <img src="img/content/user-50x50.jpg" width="50" height="50" alt="Bruno" class="user-info__pic">
                </a>
              </div>
            </div>
          </li>
        </ul>
      </nav>

      <a href="./" class="logo header__logo">
        <img src="img/logo.png" alt="Your Drop">
      </a>

      <ul class="user-menu header__user-menu">
        <li>
          <a href="#">Live-Обмены</a>
        </li>
        <li>
          <div class="user-info">
            <div class="user-info__left">
              <a href="#" class="user-info__nickname">Bruno</a>
              <p class="user-info__balance">$ 40.00</p>
            </div>
            <div class="user-info__right">
              <a href="#">
                <img src="img/content/user-50x50.jpg" width="50" height="50" alt="Bruno" class="user-info__pic">
              </a>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
</header>