<section class="how">
  <div class="container">

    <div class='how-tabs'>
      <ul class="how-tabs__list">
        <li><a href="#tab-1">1 — Выбор цены</a></li>
        <li><a href="#tab-2">2 — Заявка</a></li>
        <li><a href="#tab-3">3 — Создание предложения</a></li>
        <li><a href="#tab-4">4 — Начисление средств</a></li>
        <li><a href="#tab-5">5 — Гарантия</a></li>
        <li><a href="#tab-6">6 — Отмена сделки</a></li>
      </ul>

      <div class="how-tabs__item" id='tab-1'>
        <div class="how-tabs__top">
          <div class="how-tabs__img-wrap">
            <img src="img/icon/icon-certificate.svg" width="100" height="100" alt="">
          </div>
          <h3>Выбор цены</h3>
        </div>
        <p>После этого покупатель должен как можно быстрее вывести вещи себе на аккаунт. Каждая купленная на маркете вещь получает 4 часа гарантии. Гарантия нужна для того, чтобы полностью возместить вам стоимость купленной вещи, в случае если бота, у которого лежит купленная вещь, забанят. Если Вы не захотите или не сможете вывести предмет в течение 4 часов после покупки, гарантия исчезнет и сайт не вернет деньги в случае блокировки бота.</p>
      </div>

      <div class="how-tabs__item" id='tab-2'>
        <div class="how-tabs__top">
          <div class="how-tabs__img-wrap">
            <img src="img/icon/icon-certificate.svg" width="100" height="100" alt="">
          </div>
          <h3>Заявка</h3>
        </div>
        <p>После этого покупатель должен как можно быстрее вывести вещи себе на аккаунт. Каждая купленная на маркете вещь получает 4 часа гарантии. Гарантия нужна для того, чтобы полностью возместить вам стоимость купленной вещи, в случае если бота, у которого лежит купленная вещь, забанят. Если Вы не захотите или не сможете вывести предмет в течение 4 часов после покупки, гарантия исчезнет и сайт не вернет деньги в случае блокировки бота.</p>
      </div>

      <div class="how-tabs__item" id='tab-3'>
        <div class="how-tabs__top">
          <div class="how-tabs__img-wrap">
            <img src="img/icon/icon-certificate.svg" width="100" height="100" alt="">
          </div>
          <h3>Создание предложения</h3>
        </div>
        <p>После этого покупатель должен как можно быстрее вывести вещи себе на аккаунт. Каждая купленная на маркете вещь получает 4 часа гарантии. Гарантия нужна для того, чтобы полностью возместить вам стоимость купленной вещи, в случае если бота, у которого лежит купленная вещь, забанят. Если Вы не захотите или не сможете вывести предмет в течение 4 часов после покупки, гарантия исчезнет и сайт не вернет деньги в случае блокировки бота.</p>
      </div>

      <div class="how-tabs__item" id='tab-4'>
        <div class="how-tabs__top">
          <div class="how-tabs__img-wrap">
            <img src="img/icon/icon-certificate.svg" width="100" height="100" alt="">
          </div>
          <h3>Начисление средств</h3>
        </div>
        <p>После этого покупатель должен как можно быстрее вывести вещи себе на аккаунт. Каждая купленная на маркете вещь получает 4 часа гарантии. Гарантия нужна для того, чтобы полностью возместить вам стоимость купленной вещи, в случае если бота, у которого лежит купленная вещь, забанят. Если Вы не захотите или не сможете вывести предмет в течение 4 часов после покупки, гарантия исчезнет и сайт не вернет деньги в случае блокировки бота.</p>
      </div>

      <div class="how-tabs__item" id='tab-5'>
        <div class="how-tabs__top">
          <div class="how-tabs__img-wrap">
            <img src="img/icon/icon-certificate.svg" width="100" height="100" alt="">
          </div>
          <h3>Гарантия</h3>
        </div>
        <p>После этого покупатель должен как можно быстрее вывести вещи себе на аккаунт. Каждая купленная на маркете вещь получает 4 часа гарантии. Гарантия нужна для того, чтобы полностью возместить вам стоимость купленной вещи, в случае если бота, у которого лежит купленная вещь, забанят. Если Вы не захотите или не сможете вывести предмет в течение 4 часов после покупки, гарантия исчезнет и сайт не вернет деньги в случае блокировки бота.</p>
      </div>

      <div class="how-tabs__item" id='tab-6'>
        <div class="how-tabs__top">
          <div class="how-tabs__img-wrap">
            <img src="img/icon/icon-certificate.svg" width="100" height="100" alt="">
          </div>
          <h3>Отмена сделки</h3>
        </div>
        <p>После этого покупатель должен как можно быстрее вывести вещи себе на аккаунт. Каждая купленная на маркете вещь получает 4 часа гарантии. Гарантия нужна для того, чтобы полностью возместить вам стоимость купленной вещи, в случае если бота, у которого лежит купленная вещь, забанят. Если Вы не захотите или не сможете вывести предмет в течение 4 часов после покупки, гарантия исчезнет и сайт не вернет деньги в случае блокировки бота.</p>
      </div>

    </div>
    <!-- /.how-tabs -->

    <div class="how__attention">
      <h3 class="how__attention-title">Обратите внимание!</h3>
      <div class="how__attention-content">
        <ol>
          <li>При выставлении предмета на продажу он не покидает пределы вашего инвентаря.</li>
          <li>При добавлении в список для продажи предметов со счетчиками убийств, снимайте их из своей экипировки. Если предмет изменит свойства (например, изменилось количество убийств), то с его передачей могут возникнуть проблемы.</li>
          <li>Для того чтобы выставленные предметы отображались покупателям, необходимо быть онлайн на сайте. Это значит, что должна быть открыта минимум одна вкладка любого из сайтов</li>
          <li>При отсутствии соединения с интернетом, все ваши выставленные вещи перестают отображаться в списке предметов доступных для покупки.</li>
        </ol>
      </div>
    </div>
    <!-- /.how__attention -->

  </div>
  <!-- /.container -->
</section>
<!-- /.how -->