// Colors
$main-color: #333

$thunder:           #282224
$mine-shaft:        #242424
$mine-shaft-2:      #2b2b2b
$mine-shaft-3:      #1f1f1f
$cod-gray:          #121212
$tundora:           #4c4748
$tundora-2:         #404040
$scorpion:          #595959
$silver:            #bebebe
$gray:              #808080
$titan-white:       #fefeff
$torch-red:         #fe093e
$accent:            $torch-red
$paprika:           #a40040
$crimson:           #da113f
$school-bus-yellow: #ffdd00
$golden-dream:      #f6dc34
$purple-heart:      #b424d8
$violet-red:        #f72c76
$havelock-blue:     #589cda
$royal-blue:        #3762f0
$blue-ribbon:       #0062f4
$cerulean:          #009ddd
$forest-green:      #28c020

// Fonts
$main-font: 'Montserrat', sans-serif
$century: 'Century Gothic', sans-serif

// Bootstrap
$grid-columns: 12
$grid-gutter-width: 30px
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px)

// Media Queries
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx)