// Colors
$main-color: #333
$accent: tomato

$thunder:           #282224
$torch-red:         #fe093e
$school-bus-yellow: #ffdd00
$purple-heart:      #b424d8

// Fonts
$main-font: 'Montserrat', sans-serif

// Bootstrap
$grid-columns: 12
$grid-gutter-width: 30px
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px)

// Media Queries
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx)