<section class="case-roulette">
  <div class="container">
    <h2 class="section-title">Оружейный кейс</h2>

    <div class="case-roulette__container">
      <div class="case-roulette__img-wrap">
        <img src="img/content/case.png" width="300" height="225" alt="">
      </div>

      <div class="case-roulette__weapon">
        <div class="case-roulette__weapon-container">
          <div class="case-roulette__weapon-inner">
            <div class="case-roulette__weapon-item shadow shadow--red">
              <img src="img/content/weapon/kerambit.png" alt="">
            </div>
            <div class="case-roulette__weapon-item shadow shadow--purple">
              <img src="img/content/weapon/usp.png" alt="">
            </div>
            <div class="case-roulette__weapon-item shadow shadow--yellow">
              <img src="img/content/weapon/usp.png" alt="">
            </div>
            <div class="case-roulette__weapon-item shadow shadow--pink">
              <img src="img/content/weapon/usp.png" alt="">
            </div>
            <div class="case-roulette__weapon-item shadow shadow--red">
              <img src="img/content/weapon/usp.png" alt="">
            </div>
            <div class="case-roulette__weapon-item shadow shadow--red">
              <img src="img/content/weapon/usp.png" alt="">
            </div>
            <div class="case-roulette__weapon-item shadow shadow--yellow">
              <img src="img/content/weapon/usp.png" alt="">
            </div>
            <div class="case-roulette__weapon-item shadow shadow--purple">
              <img src="img/content/weapon/usp.png" alt="">
            </div>
            <div class="case-roulette__weapon-item shadow shadow--pink">
              <img src="img/content/weapon/usp.png" alt="">
            </div>
            <div class="case-roulette__weapon-item shadow shadow--pink">
              <img src="img/content/weapon/usp.png" alt="">
            </div>
          </div>
          <!-- /.case-roulette__weapon-inner -->
        </div>
        <!-- /.case-roulette__weapon-container -->

        <svg class="case-roulette__arrow">
          <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
        </svg>
      </div>
      <!-- /.case-roulette__weapon -->

      <div class="case-roulette__btns">
        <a href="#" class="btn">Открыть</a>
        <div class="case-roulette__price">за <span>199</span> Руб.</div>
      </div>

    </div>

  </div>
  <!-- /.container -->
</section>
<!-- /.case-roulette -->