<section class="case-content">
  <div class="container">
    <h2 class="section-title" data-title="Content">Содержимое кейса</h2>

    <div class="case-card row">

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--yellow">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/kerambit.png" alt="">
          </div>
          <p>Karambit</p>
          <b>Murder</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--yellow">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/kerambit.png" alt="">
          </div>
          <p>Karambit</p>
          <b>Murder</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--yellow">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/kerambit.png" alt="">
          </div>
          <p>Karambit</p>
          <b>Murder</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--yellow">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/kerambit.png" alt="">
          </div>
          <p>Karambit</p>
          <b>Murder</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--red">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/m4a1-big.png" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--red">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/m4a1-big.png" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--red">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/m4a1-big.png" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--red">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/m4a1-big.png" alt="">
          </div>
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--pink">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-2-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Cyrex</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--pink">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-2-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Cyrex</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--pink">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-2-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Cyrex</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--pink">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-2-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Cyrex</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--purple">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Progressive</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--purple">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Progressive</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--purple">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Progressive</b>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--purple">
        <div class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Progressive</b>
        </div>
      </div>

    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.case-content -->