<section class="hero" style="background-image: url('img/hero-cases-bg.png');">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Пользовательское <br><strong>Соглашение</strong></h1>

      <div class="statistic hero__statistic">
        <div class="statistic__item">
          <b>57</b>
          <p>Онлайн</p>
        </div>
        <div class="statistic__item">
          <b>2 689</b>
          <p>Пользователей</p>
        </div>
        <div class="statistic__item">
          <b>134 169</b>
          <p>Кейсов открыто</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.hero -->