<section class="terms">
  <div class="container">
    <div class="terms__wrap">
    <div class="terms__content">
      <h2>1. Определения и термины</h2>
      <ol>
        <li>
          <p>В данном соглашении пользователя, если не указано другое, термины имею такое значение:</p>
          <p><b>«Steam», «служба Steam»</b> - Онлайновая услуга, предлагаемая корпорацией Valve, являющейся правообладателем объектов Инвентаря.</p>
          <p><b>«Инвентарь»</b> - возможность применения одного из прописанных в Кейсе объектов в полном соответствии с пользовательским соглашением, расположенным по электронному адресу: <a href="http://store.steampowered.com/subscriber_agreement/russian/" target="_blank">http://store.steampowered.com/subscriber_agreement/russian/</a></p>
          <p><b>«Кейс»</b> - объединенные, защищенные страницы Сайта, создаваемые путем регистрации Пользователя, работая с которыми пользователь получает доступ полностью или частично к функциям Сайта.</p>
          <p>Порядок доступа в Личный кабинет:</p>
          <ul>
            <li>Нажать кнопку «Авторизоваться», после чего в автоматическом режиме произойдет перенаправление на страницу в сети Интернет по адресу: <a href="https://steamcommunity.com" target="_blank">https://steamcommunity.com</a></li>
            <li>Введение Пользователем логина и пароля в предназначенную для этого форму и активация кнопки «Sign in».</li>
            <li>Путем открытия Сайта, если Пользователь при предыдущем посещении не нажимал кнопку «Выход».</li>
          </ul>

          <p><b>«Пользователь»</b> - Лицо, создавшее аккаунт, выразившее согласие с настоящим Положением.</p>
          <p><b>«Сайт»</b> - совокупность страниц, расположенная в доменной зоне cs-drop.ru и содержащая объекты интеллектуальной деятельности, представленные в виде: различных видео и фотоматериалов, текстового контента, графики и прочего, за исключением Инвентаря.</p>
          <p><b>«Соглашение»</b> - данное соглашение пользователя.</p>
          <p><b>«Стороны»</b> - лицо, принимающее соглашение и Владелец.</p>
        </li>
        <li>Другие определения, которые могут встретиться в тексте, должны быть истолкованы исходя из законодательства Российской Федерации и общепринятыми нормами применения их в сети Интернет.</li>
        <li>Наименования подразделов настоящего Соглашения применяются сугубо для удобства его использования и практического юридического значения не несут.</li>
      </ol>

      <h2>2. Заключение Соглашения</h2>

      <ol>
        <li>Настоящее Соглашение содержит в себе все необходимые условия и представляет собой публичное предложение услуг любому совершеннолетнему дееспособному лицу. Таким образом, оно является публичной офертой согласно пункту 2 статьи 437 ГК РФ.</li>
        <li>
          <p>Полным согласием с данной офертой согласно статьи 438 ГК РФ является совершение действий в следующем порядке:</p>
          <ol>
            <li>Изучение данного Соглашения;</li>
            <li>Проставление отметки в функциональном поле под надписью «Я принимаю условия пользовательского соглашения»;</li>
            <li>Регистрация на сайте путем перехода по ссылке <b>«АВТОРИЗОВАТЬСЯ ЧЕРЕЗ STEAM»</b> и осуществления авторизации в открывшемся окне через уже зарегистрированный аккаунт Steam.</li>
          </ol>
        </li>
      </ol>

      <h2>3. Предмет Соглашения</h2>

      <ol>
        <li>
          <p>Владелец выдает Пользователю:</p>
          <ol>
            <li>Безвозмездную <b>(неисключительную)</b> лицензию на применение Сайта и его программного обеспечения по их функциональному назначению, что предусмотрено функционалом Сайта и Личного кабинета.</li>
            <li>Возмездную <b>(неисключительную)</b> лицензию на применение Кейса по назначению, стоимость лицензии на каждую разновидность Кейса указана на Сайте.</li>
            <li>Упомянутая в пункте 3.1.1 лицензия выдается Пользователю на срок, указанный в Кейсе, на протяжении которого Сайт и Личный кабинет доступны Пользователю.</li>
            <li>Упомянутая в пункте 3.1.2 лицензия выдается Пользователю в пределах определенной территории, где Кейс доступен для Пользователя на протяжении оговоренного срока с момента поступившей оплаты вознаграждения за применение определенного Кейса до момента выбора Инвентаря с помощью этого Кейса.</li>
          </ol>
        </li>
        <li>
          <p>
            Пользователю <b>запрещается:</b>
          </p>
          <ol>
            <li>Нейтрализовать технические границы, принятые на Сайте и в Кейсе;</li>
            <li>Изучать технологию, декомпилировать или дизассемблировать Сайт, Кейс и Личный кабинет, кроме ситуаций, указанных в законодательстве РФ;</li>
            <li>Копировать дизайнерское оформление и наполнение Сайта, Кейсов и личного кабинета;</li>
            <li>Модифицировать Сайт, Кейсы и Личный кабинет любым способом;</li>
            <li>Производить действия, нацеленные на переформирование функций и методов работы Сайта, Кейсов и Личного кабинета;</li>
            <li>Передавать данные для доступа в Личный кабинет третьим лицам;</li>
            <li>Совершать вышеперечисленные действия касаемо любой части Сайта, Кейсов и Личного кабинета.</li>
          </ol>
        </li>
      </ol>

      <h2>4. Приемка Инвентаря</h2>
      <ol>
        <li>После выдачи Инвентаря с помощью Кейса и когда он отразился в Личном кабинете, у Пользователя есть 1 час на то, чтобы отправить Инвентарь в аккаунт или обменять на бонусные баллы.</li>
        <li>Отправка Инвентаря в аккаунт производится только в случае исполнения Пользователем прописанных на Сайте и в Личном кабинете настроек аккаунта и Личного кабинета.</li>
        <li>Для отправки Инвентаря в аккаунт при условии выполнения пункта 4.2 Соглашения, в промежуток до одного часа после получения Инвентаря, Пользователь должен перейти по ссылке «Забрать» размещенной в Личном кабинете в описании самого Инвентаря.</li>
        <li>Пользователь может обменять Инвентарь, не отправленный в аккаунт, на бонусные баллы, количество которых указано в описании Инвентаря. Один балл приравнивается к одному рублю и может использоваться для оплаты лицензии. Сторонами согласовано, что бонусные баллы не являются денежными знаками и не могут быть возвращены или обменены.</li>
        <li>Чтобы обменять Инвентарь на бонусные баллы, Пользователь в период 1 часа после выдачи ему Инвентаря должен перейти по ссылке, размещенной в его описании. Отсутствие вышеуказанных действий со стороны Пользователя на протяжении 1 часа влечет за собой отчуждение Инвентаря, не отправленного в аккаунт.</li>
        <li>После обмена Инвентаря на баллы, их количество показывается в Личном кабинете.</li>
      </ol>

      <h2>5. Вознаграждение Владельца</h2>
      <ol>
        <li>За открытие доступа к Кейсу Пользователь оплачивает вознаграждение, равное стоимости лицензии, указанной в описании Кейса.</li>
        <li>Упомянутое в предыдущем пункте вознаграждение оплачивается Пользователем из заблаговременно перечисленных Владельцу с помощью платёжной системы, средств. Сведения о платежной системе доступны в процессе оплаты. Объем перечисленных финансов доступен в Личном кабинете.</li>
        <li>Перечисление финансов Владельцу производится в соответствии с регламентом, прописанным на определенной странице Сайта. Требования платежной системы, использующейся для проведения расчетов, указаны там же.</li>
        <li>Фактической оплатой упомянутого в пункте 5.1 Соглашения вознаграждения считается момент списания финансов с баланса Пользователя.</li>
        <li>Оплата вознаграждения производится в порядке, расписанном в данном разделе и с учетом пункта 5.6 Соглашения пользователя.</li>
      </ol>

      <h2>6. Персональные данные</h2>
      <ol>
        <li>Пользователь разрешает Владельцу обрабатывать свои персональные данные, указанные при регистрации на Сайте, а также данные указанные в аккаунте Steam.</li>
        <li>Обработка данных пользователя подразумевает под собой систематизирование, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), в том числе трансграничную, обезличивание, блокирование, удаление, уничтожение персональных данных, не подпадающих под специальные категории, на обработку которых, согласно действующему законодательству Российской Федерации, требуется письменное согласие Пользователя.</li>
        <li>
          <p>Персональные данные необходимы для соблюдения сторонами обязательств, расписанных в настоящем Соглашении, а именно:</p>
          <ul>
            <li>Для регистрации</li>
            <li>Оплаты лицензионного вознаграждения</li>
            <li>Выдачи Инвентаря</li>
            <li>Информирования пользователя путем отправки писем на электронный почтовый ящик</li>
          </ul>
        </li>
        <li>Согласие на обработку персональных данных может быть отозвано в любой момент. Для этого необходимо направить Владельцу заказное письмо с уведомлением о вручении на адрес, прописанный в п. 1.1 данного Соглашения. Отзыв согласия означает прекращение всех обязательств, указанных в настоящем Соглашении. В случаях, указанных в законодательстве РФ, Владелец может продолжить обработку данных.</li>
        <li>Дополнительные или другие сведения об обработке персональных данных могут размещаться в каком –либо документе, расположенном на Сайте. Если обнаружится противоречие регламента этого документа регламентам этого раздела, используются регламенты того документа.</li>
        <li>
          <p>Подтверждая согласие с данным положением, Пользователь также соглашается с получением от Владельца либо уполномоченных им третьих лиц контента, содержащего рекламную информацию. Информация будет поступать на электронный почтовый ящик. Согласие на поступление рекламно-информационных материалов может быть отозвано следующими способами:</p>
          <ul>
            <li>Направлением письменного отказа на адрес Владельца, прописанный в пункте 8.3.1 Соглашения;</li>
            <li>В порядке, указанном в самих рекламно-информационных материалах.</li>
          </ul>
        </li>
      </ol>

      <h2>7. Ограничение ответственности</h2>
      <ol>
        <li>
          <p>Владелец не несет ответственности за потери, понесенные Пользователем, по причинам:</p>
          <ul>
            <li>Незаконных действий злоумышленников;</li>
            <li>Неправомочным доступом к Личному кабинету;</li>
            <li>Разглашения учетных данных, используемых для доступа к Сайту.</li>
          </ul>
          <p><b>Если это явилось не следствием его действий.</b></p>
        </li>
          <li>Владелец не является собственником Инвентаря, не регулирует функционал и регламент применения. Порядок использования Инвентаря регламентируется лицензионным соглашением, расположенным по адресу: <a href="http://store.steampowered.com/subscriber_agreement/russian/">http://store.steampowered.com/subscriber_agreement/russian/</a>.</li>
          <li>Программное обеспечение для применения Инвентаря приобретается и устанавливается Пользователем самостоятельно на свое устройство.</li>
          <li>Сайт, его программное обеспечение и весь функционал применяются Пользователем «Как есть». Владелец и операторы всех видов связи, а также уполномоченные ими лица не дают никаких гарантий касаемо Сайта.</li>
          <li>Владелец не может гарантировать бесперебойного доступа к Сайту и его функционалу, а также соответствия требованиям Пользователя.</li>
          <li>Системные, программные и технические ошибки со стороны Владельца или пользователя трактуются как обстоятельства непреодолимой силы и считаются основанием для снятия с себя ответственности, взятой Владельцем в соответствии с настоящим Соглашением.</li>
          <li>Соглашаясь с данным положением, Пользователь также дает Владельцу разрешение на переуступку своих долгов и прав Владельца третьим лицам. Владелец берет на себя обязательство проинформировать Пользователя об этом посредством размещения информации на Сайте.</li>
          <li>Объем убытков, которые имеют возможность быть возвращены Владельцем, регулируется частью 1 ст.15 ГК РФ и не может превышать одной тысячи рублей.</li>
          <li>В случае обнаружения нарушений Пользователем условий настоящего Соглашения, Владелец имеет право ограничить доступ Пользователя к Сайту и Личному кабинету. Убытки, понесенные в таком случае третьими лицами, <b>подлежат ответственности Пользователя.</b></li>
      </ol>

      <h2>8. Порядок разрешения споров</h2>
      <ol>
        <li>Все прения, разногласия и обоюдные претензии, возникающие в процессе исполнения, расторжения или признания недействительным данного Соглашения, будут решаться переговорным путем. Сторона, имеющая претензии, отправляет другой Стороне информационное сообщение с перечислением всех возникших разногласий.</li>
        <li>Ответ на информационное сообщение должен быть получен в течение 30 рабочих дней от даты отправки такого сообщения. В случае невозможности решения данных вопросов путем переговоров, разногласия решаются в судебном порядке по месту пребывания Владельца.</li>
      </ol>

      <h2>9. Заключительные положения</h2>
      <ol>
        <li>При исполнении настоящего Соглашения, а также при его прекращении, изменении, дополнении, позволяется применение сторонами аналогов собственноручной подписи. Все информационные сообщения, документы и обязательства, подписанные аналогами собственноручной подписи, имеют юридическую силу и должны быть исполнены в соответствии с Соглашением. Аналоги собственноручной подписи здесь: уполномоченные адреса электронной почты и регистрационные данные к Личному кабинету.</li>
        <li>Стороны пришли к соглашению, что все информационные сообщения, письма, уведомления, документы и прочая информация, отправленная с использованием аналогов собственноручной подписи, являются направленными и подписанными сторонами. Кроме сообщений, где указано обратное.</li>
        <li>
          <p>Уполномоченные адреса электронной почты:</p>
          <ul>
            <li>Владельца: <a href="mailto:support@your-drop.ru">support@your-drop.ru</a></li>
            <li>Пользователя: адрес электронной почты, указанный при регистрации аккаунта в Steam</li>
          </ul>
        </li>
        <li>Стороны берут на себя обязательство сохранять конфиденциальность данных, используемых для доступа в электронную почту, Личный кабинет. Не передавать их третьим лицам.</li>
        <li>Пока не поступили сведения о нарушении конфиденциальности, все документы, направленные с уполномоченных электронных адресов, считаются направленными Стороной, которой этот адрес принадлежит. В случае, если такие документы были направлены третьими лицами, ответственность все равно лежит на стороне, которой принадлежит адрес.</li>
        <li>Также, пока не получены от Пользователя сведения о нарушенной конфиденциальности, все действия, совершенные в Личном кабинете, считаются совершенными Пользователем. И ответственность за них несет именно он.</li>
      </ol>

      <h2>10. Изменение условий Соглашения</h2>
      <p>Владелец имеет право корректировать Соглашение в одностороннем порядке, Пользователь обязуется регулярно изучать внесенные изменения. Если Пользователь продолжил использование Сайта, значит он согласен с корректировками.</p>
      <p>Все остальные нюансы, не регламентируемые настоящим Положением, разрешаются в соответствии с действующим законодательством РФ.</p>

    </div>
    </div>

    <div class="terms__btns">
      <a href="#" class="btn terms__more">Показать все</a>
    </div>
    
  </div>
  <!-- /.container -->
</section>
<!-- /.terms -->