<section class="account" style="background-image: url('img/account-bg.png');">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-8">

        <div class="account__wrap">
          <div class="account__img-wrap">
            <img src="img/content/user-170x170.jpg" width="170" height="170" alt="Bruno">
          </div>
          <div class="account__info">
            <h1>Bruno</h1>
            <p class="account__trade">Trade-ссылка:</p>
            <input type="text" class="account__trade-link" value="https://steamcommunity.com/tradeoffer/new/?partner=0&token=XXXXXXXX">
            <div class="account__balance-container">
              <p>Баланс:</p>
              <div class="account__balance-wrap">
                <span class="account__balance">$ 40.00</span>
                <a href="#" class="account__balance-add">+</a>
              </div>
            </div>
          </div>
          <!-- /.account__info -->
        </div>
        <!-- /.account__wrap -->

        <div class="account__btns">
          <a href="#" class="btn btn--blue inventory-in_open">Ввод вещей из Steam</a>
          <a href="#" class="btn inventory-out_open">Вывести в Steam</a>
        </div>

        <div class="account__attention">
          <h3>Остерегайтесь мошенников!</h3>
          <p>Никогда не отдавайте ваши предметы до того, как вы нажмёте ссылку с текстом "Передать предметы" на этой странице. И обязательно проверяйте одноразовый код и имя бота в окне обмена (данные для сверки будут отображены на этой странице).</p>
        </div>

      </div>
    </div>

    <div class="inventory">

      <div class="inventory__left">
        <h2 class="inventory__title">Ваш инвентарь</h2>

        <div class="inventory__list-wrap">

          <div class="inventory__list">
            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--yellow">
              <div class="inventory__img-wrap shadow shadow--yellow">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--pink">
              <div class="inventory__img-wrap shadow shadow--pink">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--pink">
              <div class="inventory__img-wrap shadow shadow--pink">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--pink">
              <div class="inventory__img-wrap shadow shadow--pink">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--red">
              <div class="inventory__img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

            <a href="#" class="inventory__list-item inventory__list-item--blue">
              <div class="inventory__img-wrap shadow shadow--blue">
                <img src="img/content/weapon/m4a1-big.png" width="100" height="40" alt="">
              </div>
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
            </a>

          </div>
          <!-- /.inventory__list -->
        </div>
      </div>

      <div class="inventory__right">
        <h2 class="inventory__title inventory__title--blue">Выбрано</h2>
        <div class="inventory__choice-wrap">
          <div class="inventory__choice-list">

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast2</b>
              </div>
            </a>

            <a href="#" class="inventory__choice-item">
              <div class="inventory__choice-img-wrap shadow shadow--red">
                <img src="img/content/weapon/m4a1.png" width="70" height="30" alt="">
              </div>
              <div class="inventory__choice-content">
                <p>M4A1-S</p>
                <b>Hyper Beast1</b>
              </div>
            </a>

          </div>
          <!-- /.inventory__choice-list -->

          <a href="#" class="btn btn--blue inventory__choice-btn">Добавить к обмену</a>

        </div>
      </div>

    </div>
    <!-- /.inventory -->


  </div>
  <!-- /.container -->
</section>
<!-- /.acoount -->