<section class="drop-history">
  <div class="container">
    <h2 class="section-title" data-title="Drop list">История выпаданий</h2>

    <div class="drop-history__list">
      <div class="drop-history__list-container">
        <div class="drop-history__list-wrap">

        <div class="drop-history__item drop-history__item--yellow">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>AWP</p>
          <b>Dragon lore</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--blue">
          <p>SG 553</p>
          <b>Damascus steel</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--yellow">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>AK-47</p>
          <b>Aquamarine revenge</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--pink">
          <p>CZ75-Auto</p>
          <b>The Fuschia is now</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        </div>

      </div>
      <!-- /.drop-history__list-wrap -->

      <button class="drop-history__prev">
        <svg>
          <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="drop-history__next">
        <svg>
          <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <!-- /.drop-history__list -->
  </div>
  <!-- /.container -->
</section>
<!-- /.drop-history -->