<section class="drop-history">
  <div class="container">
    <h2 class="section-title" data-title="Drop list">История выпаданий</h2>

    <div class="drop-history__list">
      <div class="drop-history__list-container">
        <div class="drop-history__list-wrap drop-history__list-wrap--drophistory">

        <div class="drop-history__item drop-history__item--yellow">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>AWP</p>
          <b>Dragon lore</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--blue">
          <p>SG 553</p>
          <b>Damascus steel</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--yellow">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>AK-47</p>
          <b>Aquamarine revenge</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--pink">
          <p>CZ75-Auto</p>
          <b>The Fuschia is now</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/drop.png" alt="">
              <a href="#" class="drop-history__username">Wildfire</a>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
              <p>M4A1-S</p>
              <b>Hyper Beast</b>
              <div class="drop-history__more">
                <img src="img/content/drop.png" alt="">
                <a href="#" class="drop-history__username">Wildfire</a>
              </div>
            </div>

            <div class="drop-history__item drop-history__item--red">
                <p>M4A1-S</p>
                <b>Hyper Beast</b>
                <div class="drop-history__more">
                  <img src="img/content/drop.png" alt="">
                  <a href="#" class="drop-history__username">Wildfire</a>
                </div>
              </div>

              <div class="drop-history__item drop-history__item--red">
                  <p>M4A1-S</p>
                  <b>Hyper Beast</b>
                  <div class="drop-history__more">
                    <img src="img/content/drop.png" alt="">
                    <a href="#" class="drop-history__username">Wildfire</a>
                  </div>
                </div>

        </div>

      </div>
      <!-- /.drop-history__list-wrap -->

      <button class="drop-history__prev">
        <svg>
          <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="drop-history__next">
        <svg>
          <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <!-- /.drop-history__list -->
  </div>
  <!-- /.container -->
</section>
<!-- /.drop-history -->

<section class="drop-history">
  <div class="container">
    <h2 class="section-title" data-title="Sales history">История продаж</h2>

    <div class="drop-history__list">
      <div class="drop-history__list-container">
        <div class="drop-history__list-wrap drop-history__list-wrap--salehistory">

          <div class="drop-history__item drop-history__item--yellow">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>AWP</p>
            <b>Dragon lore</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--blue">
            <p>SG 553</p>
            <b>Damascus steel</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--yellow">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>AK-47</p>
            <b>Aquamarine revenge</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--pink">
            <p>CZ75-Auto</p>
            <b>The Fuschia is now</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

        </div>

      </div>
      <!-- /.drop-history__list-wrap -->

      <button class="drop-history__prev">
        <svg>
          <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="drop-history__next">
        <svg>
          <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <!-- /.drop-history__list -->
  </div>
  <!-- /.container -->
</section>
<!-- /.drop-history -->

<section class="drop-history">
  <div class="container">
    <h2 class="section-title" data-title="History in balance">История выводов в живой баланс</h2>

    <div class="drop-history__list">
      <div class="drop-history__list-container">
        <div class="drop-history__list-wrap drop-history__list-wrap--balancehistory">

          <div class="drop-history__item drop-history__item--yellow">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>AWP</p>
            <b>Dragon lore</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--blue">
            <p>SG 553</p>
            <b>Damascus steel</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/usp.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--yellow">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kerambit.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>AK-47</p>
            <b>Aquamarine revenge</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--pink">
            <p>CZ75-Auto</p>
            <b>The Fuschia is now</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

          <div class="drop-history__item drop-history__item--red">
            <p>M4A1-S</p>
            <b>Hyper Beast</b>
            <div class="drop-history__more">
              <img src="img/content/weapon/kalash.png" alt="">
              <p class="drop-history__price"><span>50</span> Руб.</p>
            </div>
          </div>

        </div>

      </div>
      <!-- /.drop-history__list-wrap -->

      <button class="drop-history__prev">
        <svg>
          <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="drop-history__next">
        <svg>
          <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <!-- /.drop-history__list -->
  </div>
  <!-- /.container -->
</section>
<!-- /.drop-history -->