<section class="drop-history">
  <div class="container">
    <h2 class="section-title" data-title="Drop list">История выпаданий</h2>

    <div class="drop-history__list">
      <div class="drop-history__list-container">
        <div class="drop-history__list-wrap">

        <div class="drop-history__item drop-history__item--yellow">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        <div class="drop-history__item drop-history__item--red">
          <p>M4A1-S</p>
          <b>Hyper Beast</b>
          <div class="drop-history__more">
            <img src="img/content/drop.png" alt="">
            <a href="#" class="drop-history__username">Wildfire</a>
          </div>
        </div>

        </div>

      </div>
      <!-- /.drop-history__list-wrap -->

      <svg class="drop-history__prev">
        <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
      </svg>
      <svg class="drop-history__next">
        <use xlink:href="img/icon/symbols.svg#icon-arrow"></use>
      </svg>
    </div>
    <!-- /.drop-history__list -->
  </div>
  <!-- /.container -->
</section>
<!-- /.drop-history -->