<section class="similar">
  <div class="container">
    <h2 class="section-title">Другие USP-S | Progressive</h2>

    <div class="case-card row">

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--purple">
        <a href="#" class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Progressive</b>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--purple">
        <a href="#" class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Progressive</b>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--purple">
        <a href="#" class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Progressive</b>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 case-card__item case-card__item--purple">
        <a href="#" class="case-card__inner">
          <div class="case-card__img-wrap">
            <img src="img/content/weapon/usp-big.png" alt="">
          </div>
          <p>USP-S</p>
          <b>Progressive</b>
        </a>
      </div>

    </div>

  </div>
  <!-- /.container -->
</section>
<!-- /.similar -->