<section class="product">
  <div class="container">
    <div class="product__wrap">
      <div class="product__left product__left--purple">
        <div class="product__img-wrap shadow shadow--purple">
          <img src="img/content/weapon/product-usp.png" alt="">
        </div>
        <p>USP-S</p>
        <b>Progressive</b>
        <div class="product__price"><span>49</span> Руб.</div>
        <a href="#" class="btn product__btn">Купить</a>
      </div>

      <div class="product__right">
        <div class="product__haracteristic">
          <div class="product__haracteristic-item">
            <svg>
              <use xlink:href="img/icon/symbols.svg#icon-gun"></use>
            </svg>
            <span>Тип:</span>
            <p>Пистолет</p>
          </div>
          <div class="product__haracteristic-item">
            <svg>
              <use xlink:href="img/icon/symbols.svg#icon-star"></use>
            </svg>
            <span>Износ:</span>
            <p>После полевых испытаний</p>
          </div>
        </div>
        <!-- /.product__haracteristic -->

        <div class="product__quality">
          <div class="product__quality-item product__quality-item--purple">Армейское качество</div>
          <div class="product__quality-item">Обычный</div>
        </div>

        <div class="product__content">
          <p>Пистолет USP, любимец игроков в Counter-Strike: Source, имеет отсоединяемый глушитель, который позволяет наносить точные выстрелы, одновременно поглощая привлекающий излишнее внимание шум. Вручную был нанесен рисунок в стиле модерн черного, белого и желтого цветов. «Они манипулируют тобой, Котаро. Если ты этого не замечаешь, то у тебя серьезные проблемы…» – командир Феликс Райли</p>
        </div>

        <div class="product__statistic">
          <h3>Статистика последних покупок</h3>
          <div class="product__statistic-list">
            <div class="product__statistic-item">
              <b>500+</b>
              <p>Покупок</p>
            </div>
            <div class="product__statistic-item">
              <b>35 <span>Руб.</span></b>
              <p>Мин. цена</p>
            </div>
            <div class="product__statistic-item">
              <b>54 <span>Руб.</span></b>
              <p>Ср. цена</p>
            </div>
            <div class="product__statistic-item">
              <b>79 <span>Руб.</span></b>
              <p>Макс. цена</p>
            </div>
          </div>
        </div>
        <!-- /.product__statistic -->

      </div>

    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.product -->